.popup {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.7s, opacity 0.3s;
}
