.popup__input {
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  width: 100%;
}

.popup__input:focus {
  outline: thin solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
}

.popup__input::-webkit-input-placeholder {
  color: #C4C4C4;
}
.popup__input::-moz-placeholder {
  color: #C4C4C4;
}
.popup__input:-ms-input-placeholder {
  color: #C4C4C4;
}
.popup__input::-ms-input-placeholder {
  color: #C4C4C4;
}
.popup__input::placeholder {
  color: #C4C4C4;
}
